/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require chosen
 *= require dataTables/jquery.dataTables
 *= require_tree .
 */

div.pagination a, div.pagination em, div.pagination span {
	border: 1px solid black;
	min-width: 20px;
	margin: 2px;
	padding: 3px;
	display: block;
	float: left;
}
.dataTables_paginate.paging_bootstrap ul li{
	border: 1px solid black;
	min-width: 20px;
	margin: 2px;
	padding: 3px;
	display: block;
	float: left;
}
div#course-reserves-wrapper{
	margin-left: 32px;
	margin-right: 20px;
	height: 480px;
}
div#user-permissions{
	width: 1020px;
}
span.user-compare{
	color:gray;
	text-decoration: underline;
}
div.original-user{
	float:left;
	width: 450px;
}
div.other-user{
	float:left;
}

hr.clear {
	clear:both;
}